body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2f3f5;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background-color: #f4f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  position: relative;
}

.logo img {
  width: 100px;
  height: 100px;
  transform: scale(3.5); /* make it 50% bigger */
  transform-origin: center;
}

.logo h1 {
  margin: 10px 0 5px;
  color: #0d2d52;
}

.logo p {
  margin-top: 20px;
  color: #23395d;
  font-size: 25px;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 380px;
}

.login-box h2 {
  color: #0d2d52;
  margin-bottom: 10px;
}

.login-box label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  margin-top: 20px;
  background-color: #0d2d52;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #133d73;
}

.login-right {
  flex: 1;
  background: url("../img/bg_img.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
